<div class="row project-list-detail-content-container">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-9 col-xs-10">
                <input type="text" placeholder="Filter..." ng-model="$ctrl.filterText" class="form-control" />
            </div>
            <div class="col-md-3 col-xs-2">
                <button type="button" class="btn btn-primary" title="Add New Project" ng-click="$ctrl.addProject()">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <ul class="project-list">
            <li class="project-list-item" ng-repeat="project in $ctrl.lstProjects | filter: {name: $ctrl.filterText}" ng-click="$ctrl.showDetail(project)"
            ng-class="{'selected':$ctrl.selectedProject.id === project.id}">
                <span class="project-status-ind">
                    <i class="fa" ng-class="{'fa-check-circle': project.isCompleted, 'fa-circle-o': !project.isCompleted}"></i>
                </span>
                <span>{{::project.name}}</span>
            </li>
        </ul>
    </div>
    <div class="col-md-9 project-detail" ng-if="$ctrl.selectedProject">
        <div class="detail-header row">
            <div class="col-md-9 col-xs-8">
                <h3>{{$ctrl.selectedProject.name}}</h3>
            </div>
            <div class="col-md-3 col-xs-4 action-container">
                <span class="pull-right">
                    <button type="button" class="btn btn-link" title="Edit"
                        ng-click="$ctrl.editProject($ctrl.selectedProject.id)" >
                            <i class="fa fa-pencil-square-o"></i>
                    </button>
                    <button type="button" class="btn btn-link btn-danger" title="Delete" ng-click="$ctrl.deleteProject($ctrl.selectedProject)">
                        <i class="fa fa-trash"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="detail-body">
            <div class="row">
                <div class="col-md-6">
                    <dl>
                        <dt>Client Name</dt>
                        <dd>{{$ctrl.selectedProject.client.name}}</dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl>
                        <dt>Status</dt>
                        <dd>{{$ctrl.selectedProject.isCompleted ? 'Completed' : 'Active'}}</dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <dl>
                        <dt>Start Date</dt>
                        <dd>{{$ctrl.selectedProject.startDate | date}}</dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl>
                        <dt>End Date</dt>
                        <dd>{{$ctrl.selectedProject.endDate | date}}</dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <dl>
                        <dt>Details</dt>
                        <dd>{{$ctrl.selectedProject.details}}</dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <dl>
                        <dt>Employees</dt>
                        <dd>
                            <project-employee-list employees="$ctrl.selectedProject.employees">
                            </project-employee-list>
                        </dd>
                    </dl>

                </div>
            </div>
        </div>
    </div>
</div>