html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}

.view-container{
    height: 100%;
}

.height100{
    height: 100%;
}

@import 'variables';
@import 'common-components/common-components';
@import 'app';
@import 'dashboard';